<p>Hello <%= @employee.name %>,</p>

<p>Your time off request from <%= @request.start_date %> to <%= @request.end_date %> has been <strong><%= @request.status %></strong>.</p>

<p>Reason: <%= @request.reason %></p>

<p>Best regards,<br/>HR Team</p>